@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Leaflet map container styling guarantees */
.leaflet-container {
  width: 100% !important;
  height: 100% !important;
  background-color: #e2e8f0 !important;
  outline: none;
}

.custom-user-map-pin {
  background: transparent !important;
  border: none !important;
}
